.navbar {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, #2d545e 56%, black 100%);
}

.nav-link {
    margin-right: 30px;
}

.changeit {
    color: blue;
}
.nav-link {
    color: white;
    
}

.nav-link:hover {
    color: blue;
}
.testing1 {
    color: red;
}



