.card-body {
    background-color: rgba(0,255,251,1);
    
}

.card-header {
    background-color: rgba(0,255,251,1);
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, #2d545e 56%, black 100%);
}

.input-group-text {
    color: white;
    background-color: black;
}

.card {
    max-width: 25rem;
}

.card1 {
    max-width: 25rem;
    margin-left: 1000px;
    margin-top: 30px;
}

.marginText {
    margin-top: -325px;
    margin-left: 425px;
    position: absolute;
    color: white;
}